.form-field {
    padding: 10px;
    color: $text;
    border: 1px #ced4da solid;
    border-radius: 5px;
    margin-bottom: 15px;
    width: 90%;
}


.returning-customer .form-btn {
    margin: unset;
    display: inline-block;
    margin-right: 10px;
}

// @media screen and (min-width: 800px) {


// }