.banner {
    @include background-image('../img/banner/banner-bg.jpg', cover);
    background-position: initial;
    padding: 1rem 0 1rem 1rem;
    color: white;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner span {
    color: $green;
}

.banner-paragraph {
    text-transform: uppercase;
    align-self: flex-start;
    margin-left: 2rem;
}

.banner-description {
    align-self: flex-start;
    font-size: 1rem;
    margin-left: 2rem;
}