.blog, 
.blog-posts,
.single-post,
.single-blog-section {
    width: 90%;
    margin: auto;
}


.latest-blog {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 30px auto;
}

.blog-post,
.single-post {
    margin: 2rem;
}

.author {
    text-transform: capitalize;
}

.post-title {
    font-size: 20px;
    color: $black;
}

.blog-btn {
    color: $black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.ti-arrow-right {
    margin-left: 5px;
}

.comment-amount {
    float: right;
    margin-right: 70px;
}

.image-date {
    position: relative;
}

.blog-date {
    background-color: $green;
    color: white;
    display: inline-block;
    padding: 5px 20px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    left: 20px;
    bottom:0;
}

.comment-span {
    border-left: 1px solid gray;
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 5px;
}

.month {
    margin: 0;
    margin-top: 10px;
}

.day {
    font-weight: 500;
    font-size: 1.2rem;
}

.tags {
    margin-right: 5px;
}

.post-content {
    margin-bottom: 30px;
}

.post {
    margin-top: 30px;
    margin-bottom: 30px;
}


.search-bar,
.categories,
.recent-post-section,
.tag-clouds,
.instagram-feeds {
    padding: 20px;
    background-color: $off-white;
    margin-bottom: 20px;
    text-transform: capitalize;
    padding-left: 30px;
}

.search-field {
    border-right: 0;
}

.input-group {
    display: flex;
    height: 50px;
    align-items: stretch;
}

.blog-category {
    border-top: 1px solid $border-white;
    padding: 3px;
}

.recent-post {
    display: flex;
    margin-bottom: 30px;
}

.recent-post-content {
    margin-left: 15px;
}

.tag-li {
    display: inline-block;
}

.tag  {
    display: inline-block;
    padding: 10px;
    color: $text;
    background-color: white;
    text-transform: unset;
}

.feed {
    margin: 10px;
}

.feeds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quote-container {
    background-color: $off-white;
    padding: 2rem;
}

.quote {
    border-left: 2px solid $green;
    padding: 10px;
    padding-left: 25px;
    background-color: white;
    font-style: italic;
    line-height: 1.5rem; 
}

.post-comment-span {
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 5px;
    align-self: center;
}

.nav-row {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.post-social-links a {
    display: inline-block;
    margin-right: 5px;
    padding: 10px;
}

.prev-next-label {
    text-transform: capitalize;
    margin: 0;
    margin-bottom: 5px;
}

.arrow {
    text-align: center;
    font-size: 20px;
    color: white;
    padding-top: 15px;
    width: 100%;
    display: block;
    height: 100%;
}

.visibility {
    visibility: hidden;
}

.prev-next-post {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.prev-img-left {
    @include background-image('../img/blog/prev.jpg', cover);
    height: 50px;
    width: 50px;
    display: inline-block;
}

.prev-img-right {
    @include background-image('../img/blog/next.jpg', cover);
    height: 50px;
    width: 50px;
    display: inline-block;
}

.prev-img-left:hover:before {
    @include opaque-background();
}

.prev-img-left:hover .visibility {
    visibility: visible;
}

.nav-details {
    display: inline-block;
}

.nav-details h4 {
    margin: 0;
}

.blog-author {
    background-color: $off-white;
    margin: 20px 0;
    padding: 15px;
}

.author-info {
    display: inline-block;
    margin-left: 20px;
    width: 80%;
}

.blog-comment {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.comment-info {
    margin-left: 15px;
}

.comment-info-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

.blog-comment-date {
    font-size: 14px;
    color: #ccc;
}

.blog-comment-author {
    font-weight: 500;
    font-family: $title-font;
    font-size: 16px;
}

@media screen and (min-width: 850px) {
    .latest-blog {
        flex-direction: row;
        width: 75%;
    }

    .nav-row {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: row;
    }

    .input-row {
       display: flex;
       justify-content: space-between;
       text-align: left;
    }
    .input-row input {
        width: 49%;
        margin:0;
    } 

    .input-row input:first-child {
        margin-right: 15px;
    } 
    
}

@media screen and (min-width: 1000px) {
    .blog {
        display: flex;
        width: 75%;
    }

    .single-blog-section {
        width: 70%;
        display: flex;
    }

    .blog-posts {
        width: 75%;
    }

    .single-post {
        width: 65%;
    }

    .side-bar {
        margin-left: 50px;
        width: 35%;
    }


}