.blog {
    width: 90%;
    margin: auto;
}

.blog-posts {
    width: 90%;
    margin: auto;
}
.latest-blog {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 30px auto;
}

.blog-post {
    margin: 2rem;
}

.author {
    text-transform: capitalize;
}

.post-title {
    font-size: 20px;
    color: $black;
}

.blog-btn {
    color: $black;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
}

.ti-arrow-right {
    margin-left: 5px;
}

.comment-amount {
    float: right;
    margin-right: 70px;
}

.image-date {
    position: relative;
}

.date {
    background-color: $green;
    color: white;
    display: inline-block;
    padding: 5px 20px;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    left: 20px;
    bottom:0;
}

.comment-span {
    border-left: 1px solid gray;
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 5px;
}

.month {
    margin: 0;
    margin-top: 10px;
}

.day {
    font-weight: 500;
    font-size: 1.2rem;
}

.tags {
    margin-right: 5px;
}

.post-content {
    margin-bottom: 30px;
}

.post {
    margin-top: 30px;
    margin-bottom: 30px;
}


.search-bar,
.categories,
.recent-post-section,
.tag-clouds,
.instagram-feeds {
    padding: 20px;
    background-color: $off-white;
    margin-bottom: 20px;
    text-transform: capitalize;
    padding-left: 30px;
}

.search-field {
    border-right: 0;
}

.input-group {
    display: flex;
    height: 50px;
    align-items: stretch;
}

.blog-category {
    border-top: 1px solid $border-white;
    padding: 3px;
}

.recent-post {
    display: flex;
    margin-bottom: 30px;
}

.recent-post-content {
    margin-left: 15px;
}

.tag-li {
    display: inline-block;
}

.tag  {
    display: inline-block;
    padding: 10px;
    color: $text;
    background-color: white;
    text-transform: unset;
}

.feed {
    margin: 10px;
}

.feeds {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (min-width: 850px) {
    .latest-blog {
        flex-direction: row;
        width: 75%;
        //margin: 30px auto;
    }
    
}

@media screen and (min-width: 1000px) {
    .blog {
        display: flex;
        width: 75%;
    }

    .blog-posts {
        width: 75%;
        margin: auto;
    }

    .side-bar {
        margin-left: 50px;
    }


}