.button {
    text-transform: uppercase;
    background-color: $green;
    color: white;
    padding: 1.0rem;
    border-radius: 8px;
    font-size: 12px;
}

.banner-btn {
    align-self: flex-start;
    margin-top: 20px;
}