.banner-heading {
    line-height: 40px;
    text-transform: uppercase;
    align-self: flex-start;
    margin-left: 2rem;
    text-align: left;
}

.feature-heading {
    text-transform: uppercase;
    text-align: center;
}

.feature h2 {
    text-transform : uppercase;
    font-size: 0.8rem;
}

.heading {
    text-align: center;
    color: $black;
    text-transform: uppercase;
}

.footer-heading {
    text-transform: capitalize;
    color: white;
    line-height: 1.4rem;
}