{{> header}}
<section class="top-banner">
    <div class="top-heading-group">
        <h1 class="top-banner-heading">blog</h1>
        <p class="top-banner-paragraph ">Lorem ipsum dolor sit amet, consectetur</p>
    </div>
    <div class="page-link">
        <a href="#">home</a>
        <a href="#">blog</a>
    </div>
</section>
<section class="blog">
    
</section>
{{> footer}}