{{> header shop=activeNav.shop}}
<section class="top-banner">
    <div class="top-heading-group">
        <h1 class="top-banner-heading">cart</h1>
        <p class="top-banner-paragraph ">Lorem ipsum dolor sit amet, consectetur</p>
    </div>
    <div class="page-link">
        <a href="#">home</a>
        <a href="#">cart</a>
    </div>
</section>

<section class="cart">
    <table class="cart-table">
        <thead>
            <tr>
                <th>product</th>
                <th>price</th>
                <th>quantity</th>
                <th>total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <img src="img/product/single-product/cart-1.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet</p>
                </td>
                <td>
                    <p>$360.00</p>
                </td>
                <td>
                    <input value="1" type="number" min="1" name="" id="">
                </td>
                <td>
                    <p>$100</p>
                </td>                
            </tr>
            <tr>
                <td>
                    <img src="img/product/single-product/cart-1.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet</p>
                </td>
                <td>
                    <p>$360.00</p>
                </td>
                <td>
                    <input value="1" type="number" min="1" name="" id="">
                </td>
                <td>
                    <p>$100</p>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="img/product/single-product/cart-1.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet</p>                
                </td>
                <td>
                    <p>$360.00</p>
                </td>
                <td>
                    <input value="1" type="number" min="1" name="" id="">
                </td>
                <td>
                    <p>$100</p>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="coupon">
        <a class="gray-btn">update cart</a>
        <input type="text" class="coupon-input" placeholder="Coupon Code" name="" id="">
        <a class="button">apply</a>
        <a class="gray-btn">close coupon<a>
    </div>
    <div class="cart-total">
        <div class="subtotal">
            <p>subtotal <span>$100.00</span></p>
       </div>
        <div class="shipping">
            <p class="shipping-label">shipping</p>
            <ul class="shipping-choice">
                <li>flat rate: $5.00 <input type="radio" name="" id=""></li> 
                <li>free shipping <input type="radio" name="" id=""></li> 
                <li>flat rate: $10.00 <input type="radio" name="" id=""></li> 
                <li>local delivery: $2.00 <input type="radio" name="" id=""></li> 
            </ul>
            <select name="" id="">
                <option value="">select country</option>  
                </select>
            <select name="" id="">
                <option value="">select state</option>  
                </select>
            <input class="zip" type="text" name="" placeholder="Zipcode" id="">
            <a href="" class="gray-btn">update details</a>
        </div>
        <div class="proceed-checkout">
        <a href="#" class="gray-btn">continue shopping</a>
        <a href="checkout" class="button">proceed to checkout</a>
        </div>

    </div>
</section>

{{> footer}}