{{> header }}
<main>
<section class="category-banner">
    <div class="category-heading-group">
        <h1 class="category-heading">shop category</h1>
        <p class="category-banner-paragraph ">Lorem ipsum dolor sit amet, consectetur</p>
    </div>
    <div class="page-link">
        <a href="#">home</a>
        <a href="#">shop</a>
        <a href="#">women's fashion</a>
    </div>
</section>
<section class="product-area">

</section>
</main>
{{> footer }}