{{> header shop=activeNav.shop}}
<main>
<section class="top-banner">
    <div class="top-heading-group">
        <h1 class="top-banner-heading">shop category</h1>
        <p class="top-banner-paragraph ">Lorem ipsum dolor sit amet, consectetur</p>
    </div>
    <div class="page-link">
        <a href="#">home</a>
        <a href="#">shop</a>
        <a href="#">women's fashion</a>
    </div>
</section>
<section class="product-area">
    <div class="products">
        <div class="product-topbar">
            <div class="product-drop-group">
            <select name="" id="" class="p-sort">
                <option value="Default sorting">Default sorting</option>
                <option value="Default sorting 01">Default sorting 01</option>
                <option value="Default sorting 02">Default sorting 02</option>
            </select>
            </div>
            <div class="product-drop-group">
            <select name="" id="" class="p-show">
                <option value="show 12">show 12</option>
                <option value="show 14">show 14</option>
                <option value="show 16">show 16</option>
            </select>
            </div>
        </div>
        <div class="products-section">
            <div class="new-product">
                <img src="img/product/inspired-product/i1.jpg" alt="">
                <div class="product-icons">
                    <a href="#">
                        <i class="ti-eye"></i>
                    </a>
                    <a href="#">
                        <i class="ti-heart"></i>
                    </a>
                    <a href="#">
                        <i class="ti-shopping-cart"></i>
                    </a>   
                </div>
                <div class="product-price">
                    <a href="#">
                        <h4 class="product-header">nike latest sneaker</h4>
                    </a>
                    <p class="price">$25.00</p>
                    <del>$35.00</del>
                </div>
            </div>
            <div class="new-product">
                <img src="img/product/inspired-product/i2.jpg" alt="nike shoes">
                <div class="product-icons">
                    <a href="#">
                        <i class="ti-eye"></i>
                    </a>
                    <a href="#">
                        <i class="ti-heart"></i>
                    </a>
                    <a href="#">
                        <i class="ti-shopping-cart"></i>
                    </a>   
                </div>
                <div class="product-price">
                    <a href="#">
                        <h4 class="product-header">nike latest sneaker</h4>
                    </a>
                    <p class="price">$25.00</p>
                    <del>$35.00</del>
                </div>
            </div>
            <div class="new-product">
                <img src="img/product/inspired-product/i3.jpg" alt="nike shoes">
                <div class="product-icons">
                    <a href="#">
                        <i class="ti-eye"></i>
                    </a>
                    <a href="#">
                        <i class="ti-heart"></i>
                    </a>
                    <a href="#">
                        <i class="ti-shopping-cart"></i>
                    </a>   
                </div>
                <div class="product-price">
                    <a href="#">
                        <h4 class="product-header">nike latest sneaker</h4>
                    </a>
                    <p class="price">$25.00</p>
                    <del>$35.00</del>
                </div>
            </div>
            <div class="new-product">
                <img src="img/product/inspired-product/i4.jpg" alt="nike shoes">
                <div class="product-icons">
                    <a href="#">
                        <i class="ti-eye"></i>
                    </a>
                    <a href="#">
                        <i class="ti-heart"></i>
                    </a>
                    <a href="#">
                        <i class="ti-shopping-cart"></i>
                    </a>   
                </div>
                <div class="product-price">
                    <a href="#">
                        <h4 class="product-header">nike latest sneaker</h4>
                    </a>
                    <p class="price">$25.00</p>
                    <del>$35.00</del>
                </div>
            </div>
            <div class="new-product">
                <img src="img/product/inspired-product/i5.jpg" alt="nike shoes">
                <div class="product-icons">
                    <a href="#">
                        <i class="ti-eye"></i>
                    </a>
                    <a href="#">
                        <i class="ti-heart"></i>
                    </a>
                    <a href="#">
                        <i class="ti-shopping-cart"></i>
                    </a>   
                </div>
                <div class="product-price">
                    <a href="#">
                        <h4 class="product-header">nike latest sneaker</h4>
                    </a>
                    <p class="price">$25.00</p>
                    <del>$35.00</del>
                </div>
            </div>
            <div class="new-product">
                <img src="img/product/inspired-product/i6.jpg" alt="nike shoes">
                <div class="product-icons">
                    <a href="#">
                        <i class="ti-eye"></i>
                    </a>
                    <a href="#">
                        <i class="ti-heart"></i>
                    </a>
                    <a href="#">
                        <i class="ti-shopping-cart"></i>
                    </a>   
                </div>
                <div class="product-price">
                    <a href="#">
                        <h4 class="product-header">nike latest sneaker</h4>
                    </a>
                    <p class="price">$25.00</p>
                    <del>$35.00</del>
                </div>
            </div>
            <div class="new-product">
                <img src="img/product/inspired-product/i7.jpg" alt="nike shoes">
                <div class="product-icons">
                    <a href="#">
                        <i class="ti-eye"></i>
                    </a>
                    <a href="#">
                        <i class="ti-heart"></i>
                    </a>
                    <a href="#">
                        <i class="ti-shopping-cart"></i>
                    </a>   
                </div>
                <div class="product-price">
                    <a href="#">
                        <h4 class="product-header">nike latest sneaker</h4>
                    </a>
                    <p class="price">$25.00</p>
                    <del>$35.00</del>
                </div>
            </div>
            <div class="new-product">
                <img src="img/product/inspired-product/i8.jpg" alt="nike shoes">
                <div class="product-icons">
                    <a href="#">
                        <i class="ti-eye"></i>
                    </a>
                    <a href="#">
                        <i class="ti-heart"></i>
                    </a>
                    <a href="#">
                        <i class="ti-shopping-cart"></i>
                    </a>   
                </div>
                <div class="product-price">
                    <a href="#">
                        <h4 class="product-header">nike latest sneaker</h4>
                    </a>
                    <p class="price">$25.00</p>
                    <del>$35.00</del>
                </div>
            </div>
        </div>
    </div>
    <div class="search-category">
        <div class="browse-categories filter-widget">
            <h3 class="category-title">browse categories</h3>
            <ul class="choose">
                <li><a href="#" class="filter-bubble">Jeans</a> </li>
                <li><a href="#" class="filter-bubble">Shirts</a> </li>
                <li><a href="#" class="filter-bubble">Shoes</a> </li>
            </ul>
        </div>
        <div class="product-brand filter-widget">
            <h3 class="category-title">product brand</h3>
            <ul class="choose">
                <li><a href="#" class="filter-bubble">Nike</a> </li>
                <li><a href="#" class="filter-bubble">Tommy Hilfiger</a></li>
                <li><a href="#" class="filter-bubble">Levi Strauss</a></li>
            </ul>
        </div>
        <div class="color-filter filter-widget">
            <h3 class="category-title">color filter</h3>
            <ul class="choose">
                <li><a href="#" class="filter-bubble">Red</a></li>
                <li><a href="#" class="filter-bubble">Gold</a></li>
                <li><a href="#" class="filter-bubble">Black</a></li>
            </ul>
        </div>
        <div class="price-slider filter-widget">
            <h3 class="category-title">price filter</h3>
            <input type="range" class="price-slider" id="price-slider" min="1" max="100">
            
            <div class="price" id="price">Price: $</div>
        </div>
    </div>

</section>
</main>
{{> footer slim=true}}