{{> header shop=activeNav.shop}}
<section class="top-banner">
    <div class="top-heading-group">
        <h1 class="top-banner-heading">product checkout</h1>
        <p class="top-banner-paragraph ">Lorem ipsum dolor sit amet, consectetur</p>
    </div>
    <div class="page-link">
        <a href="#">home</a>
        <a href="#">product checkout</a>
    </div>
</section>
<section class="checkout">
    <div class="returning-customer">
        <p class="return-title">Returning Customer
            <a class="click-login">Click here to login</a>
        </p>
        
        <p>If you have shopped with us before, please enter your details in the boxes below. 
            If you are a new customer, please proceed to the Billing & Shipping section.</p>
        <form action="">
            <div>
            <input class="signin-before" type="text" placeholder="Username or Email" class="form-field" name="" id="">
            <input class="signin-before" type="password" placeholder="Password" class="form-field" name="" id="">
            </div>
            <button class="form-btn">send message</button>
            <input type="checkbox" name="" id="remember">
            <label for="remember">Remember me</label>
        </form>
        <a href="" class="lost-password">Lost your password?</a>
    </div>
    <div class="coupon">
        <p class="return-title">Have a coupon? 
            <a class="click-login">Click here to enter your code</a>
        </p>
        <input type="text" class="coupon-input" placeholder="Enter coupon code">
        <a href="" class="coupon-link">apply coupon</a>
    </div>
    <div class="billing-order-flex">
    <div class="billing">
        <h2>billing details</h2>
        <form action="">
            <input required type="text" class="form-field fname" name="" placeholder="First name">
            <input type="text" class="form-field lname"name="" placeholder="Last name" required>
            <input type="text" class="form-field"name="" placeholder="Company name">
            <input type="tel" class="form-field pnumber"name="" placeholder="Phone number" required>
            <input type="email" class="form-field form-email"name="" placeholder="Email Address" required>
            <input type="text" class="form-field"name="" id="" placeholder="Country">
            <input type="text" class="form-field address01"name="" placeholder="Address line 01" required>
            <input type="text" class="form-field address02"name="" placeholder="Address line 02" required>
            <input type="text" class="form-field town"name="" placeholder="Town/City" required>
            <input type="text" class="form-field"name="" placeholder="District">
            <input type="text" class="form-field"name="" placeholder="Postcode/ZIP" required>
            <div>
                <input type="checkbox" name="" id="create-account" class="checkbox">
                <label for="create-account">Create an account?</label>
            </div>
            <h2>shipping details</h2>
            <div>
                <input type="checkbox" name="" id="ship-address">
                <label for="ship-address">Ship to a different address?</label>
            </div>

            <textarea class="form-field" name="" id="" cols="30" rows="10" placeholder="Order Notes"></textarea>
        </form>
    </div>
    <div class="order">
        <h2>your order</h2>
        <ul>
            <li>
                Product
                <span class="total">total</span>
            </li>
            <li>
                Shirt
                <span class="product-amount">x02</span>
                <span class="total">$40</span>
            </li>
            <li>
                Pants
                <span class="product-amount">x02</span>
                <span class="total">$60</span>
            </li>
            <li>
                Shorts
                <span class="product-amount">x02</span>
                <span class="total">$20</span>
            </li>
            <li>
                Socks
                <span class="total">$10</span>
            </li>
            <li>
                <span class="bold-total">subtotal</span>
                <span class="total">$250</span>
            </li>
            <li>
                <span class="bold-total">shipping</span>
                <span class="total">$30</span>
            </li>
            <li>
                <span class="bold-total"> total</span>
                <span class="total">$280</span>
            </li>
        </ul>
        <input type="radio" name="" id="radio-pay">
        <label for="radio-pay" class="pay-label">check payments</label>  
        <p class="check-paragraph">please send a check to store name, store streetm store town, store state / county, store postcode.</p>
        <input type="radio" name="" id="radio-pal">
        <label for="radio-pal" class="pal-label">paypal</label>
        <img src="img/product/single-product/card.jpg" alt="card images">
        <p class="check-paragraph check-highlight">please send a check to store name, store streetm store town, store state / county, store postcode.</p>
        <input type="checkbox" name="" id="terms">   
        <label for="terms">I've read and accept the <a href="">terms & conditions</a></label>         
        <button class="order-btn">proceed to paypal</button>
    </div>
    </div>
</section>
{{> footer}}