{{> header }}
 <section class="top-banner">
    <div class="top-heading-group">
        <h1 class="top-banner-heading">contact us</h1>
        <p class="top-banner-paragraph ">Lorem ipsum dolor sit amet, consectetur</p>
    </div>
    <div class="page-link">
        <a href="#">home</a>
        <a href="#">contact us</a>
    </div>
    </section>

    <section class="contact">
        <h2 class="post-heading">get in touch</h2>
        <div class="contact-row">
            <form action="#" class="contact-form">
                <textarea placeholder="Enter Message" name="" id="" cols="30" rows="10"></textarea>
                <div class="input-row">
                <input placeholder="Enter your name" type="text" name="" id="">
                <input placeholder="Enter email address" type="email" name="" id="">
                </div>
                <input placeholder="Enter Subject" type="text" name="" id="">
                <button class="button">send message</button>
            </form>
            <div class="contact-info">
                <div class="contact-section">
                    <i class="ti-home"></i>
                    <div class="contact-content">
                    <h3 class="post-heading">buttonwood, california</h3>
                    <p>Rosemead, CA, 91770</p>
                    </div>
                </div>
                <div class="contact-section">
                    <i class="ti-tablet"></i>
                    <div class="contact-content">
                    <h3 class="post-heading">440-986-5562</h3>
                    <p>Mon to Fri 9am to 6pm</p>
                    </div>
                </div>
                <div class="contact-section">
                    <i class="ti-email"></i>
                    <div class="contact-content">
                    <h3 class="contact-heading">support@colorlib.com</h3>
                    <p>Send us a question anytime
                        </div>
                    </p>
                </div>
            </div>
        </div>
    </section>

{{> footer }}