{{> header }}
    <section class="banner">
        <p class="banner-paragraph">men collection</p>
        <h1 class="banner-header"><span>show</span> your personal <span>style</span></h1>
        <p class="banner-description">Fow shaw dry which a above together place</p>
        <button class="banner-btn button">view collection</button>
    </section>
{{> footer}}