{{> header }}
    <section class="banner">
        <p class="banner-paragraph">men collection</p>
        <h1 class="banner-header"><span>show</span> your personal <span>style</span></h1>
        <p class="banner-description">Fow shaw dry which a above together place</p>
        <button class="banner-btn button">view collection</button>
    </section>
    <section class="features-section">
        <div class="features">
            <div class="feature">
                <a href="#" class="feature-icon">
                    <i class="flaticon-money"></i>
                </a>
                <h2>money back gurantee</h2>
                <p>Lorem upsum</p>
            </div>
            <div class="feature">
                <a href="#" class="feature-icon">
                    <i class="flaticon-truck"></i>
                </a>
                <h2>free delivery</h2>
                <p>Lorem upsum</p>
            </div>
            <div class="feature">
                <a href="#" class="feature-icon">
                    <i class="flaticon-support"></i>
                </a>
                <h2>all support</h2>
                <p>Lorem upsum</p>
            </div>
            <div class="feature">
                <a href="#" class="feature-icon">
                    <i class="flaticon-blockchain"></i>
                </a>
                <h2>secure payment</h2>
                <p>Lorem upsum</p>
            </div>
        </div>
        
        <h2 class="feature-header">featured products</h2>
        <p class="features-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus illum rerum fuga</p>
        <div class="featured-products">
            <div class="featured-product">
                <img src="img/product/feature-product/f-p-1.jpg" alt="shoe product">
                <div class="product-icons">
                    <a href="#">
                        <i class="ti-eye"></i>
                    </a>
                    <a href="#">
                        <i class="ti-heart"></i>
                    </a>
                    <a href="#">
                        <i class="ti-shopping-cart"></i>
                    </a>                    
                </div>
                <div class="product-price"></div>
            </div>
            <div class="featured-product">
                <img src="img/product/feature-product/f-p-2.jpg" alt="show product">
                <div class="product-icons">
                    <a href="#">
                        <i class="ti-eye"></i>
                    </a>
                    <a href="#">
                        <i class="ti-heart"></i>
                    </a>
                    <a href="#">
                        <i class="ti-shopping-cart"></i>
                    </a>   
                </div>
                <div class="product-price"></div>
            </div>
            <div class="featured-product">
                <img src="img/product/feature-product/f-p-3.jpg" alt="show product">
                <div class="product-icons">
                    <a href="#">
                        <i class="ti-eye"></i>
                    </a>
                    <a href="#">
                        <i class="ti-heart"></i>
                    </a>
                    <a href="#">
                        <i class="ti-shopping-cart"></i>
                    </a>   
                </div>
                <div class="product-price"></div>
            </div>
        </div>
    </section>
{{> footer}}