{{> header}}

<section class="top-banner">
    <div class="top-heading-group">
        <h1 class="top-banner-heading">product details</h1>
        <p class="top-banner-paragraph ">Lorem ipsum dolor sit amet, consectetur</p>
    </div>
    <div class="page-link">
        <a href="#">home</a>
        <a href="#">product details</a>
    </div>
</section>
<section class="product-image-section">
    <div class="carousel-wrapper">
        <div class="image-carousel">
            <div class="slider-item">
                <img src="img/product/single-product/s-product-1.jpg" alt="First slide">
            </div>
            <div class="slider-item">
                <img src="img/product/single-product/s-product-1.jpg" alt="Second slide">
            </div>
            <div class="slider-item">
                <img src="img/product/single-product/s-product-1.jpg" alt="Third slide">
            </div>

        </div>
        <ul id="carousel-thumbnails">
            <li class="thumbnail">
                <img src="img/product/single-product/s-product-s-2.jpg" alt="">
            </li>
            <li class="thumbnail">
                <img src="img/product/single-product/s-product-s-3.jpg" alt="">
            </li>
            <li class="thumbnail">
                <img src="img/product/single-product/s-product-s-4.jpg" alt="">
            </li>
        </ul>
    </div>
    <div class="product-info">
        <h3 class="heading">faded skyBlue denim jeans</h3>
        <div class="price-info">$149.99</div>
        <ul class="availability">
            <li>
                <a class="active" href="#">
                <span>Category</span> : Household</a>
            </li>
            <li>
                <a href="#"> <span>Availibility</span> : In Stock</a>
            </li>
        </ul>
        <p class="product-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione explicabo velit fuga. Repellendus reiciendis explicabo dolores ducimus sapiente. Hic fugit ipsam accusamus rem esse aliquid consectetur incidunt laboriosam adipisci veniam.</p>
        <div class="quantity">
            <label class="quantity-label" for="quantity">Quantity:</label>
            <input type="number" min="0"name="quantity" value="1" class="quantity-input">
            <button class="increase quantity-arrow">
                <i class="ti-angle-up"></i>
            </button>
            <button class="decrease quantity-arrow">
                <i class="ti-angle-down"></i>
            </button>
        </div>
        <div class="cartBtn">
            <button class="add-cart button">add to cart</button>
            <a href="#" class="icon-button">
                <i class="icon-diamond"></i>
            </a>
            <a href="#" class="icon-button">
                <i class="ti-heart"></i>
            </a>
        </div>
    </div>


</section>

{{> footer slide=true}}