{{> header shop=activeNav.shop}}

<section class="top-banner">
    <div class="top-heading-group">
        <h1 class="top-banner-heading">product details</h1>
        <p class="top-banner-paragraph ">Lorem ipsum dolor sit amet, consectetur</p>
    </div>
    <div class="page-link">
        <a href="#">home</a>
        <a href="#">product details</a>
    </div>
</section>
<section class="product-image-section">
    <div class="carousel-wrapper">
        <div class="image-carousel">
            <div class="slider-item">
                <img src="img/product/single-product/s-product-1.jpg" alt="First slide">
            </div>
            <div class="slider-item">
                <img src="img/product/single-product/s-product-1.jpg" alt="Second slide">
            </div>
            <div class="slider-item">
                <img src="img/product/single-product/s-product-1.jpg" alt="Third slide">
            </div>

        </div>
        <ul id="carousel-thumbnails">
            <li class="thumbnail">
                <img src="img/product/single-product/s-product-s-2.jpg" alt="">
            </li>
            <li class="thumbnail">
                <img src="img/product/single-product/s-product-s-3.jpg" alt="">
            </li>
            <li class="thumbnail">
                <img src="img/product/single-product/s-product-s-4.jpg" alt="">
            </li>
        </ul>
    </div>
    <div class="product-info">
        <h3 class="heading">faded skyBlue denim jeans</h3>
        <div class="price-info">$149.99</div>
        <ul class="availability">
            <li>
                <a class="active" href="#">
                <span>Category</span> : Household</a>
            </li>
            <li>
                <a href="#"> <span>Availibility</span> : In Stock</a>
            </li>
        </ul>
        <p class="product-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione explicabo velit fuga. Repellendus reiciendis explicabo dolores ducimus sapiente. Hic fugit ipsam accusamus rem esse aliquid consectetur incidunt laboriosam adipisci veniam.</p>
        <div class="quantity">
            <label class="quantity-label" for="quantity">Quantity:</label>
            <input type="number" min="0"name="quantity" value="1" class="quantity-input">
            <button class="increase quantity-arrow">
                <i class="ti-angle-up"></i>
            </button>
            <button class="decrease quantity-arrow">
                <i class="ti-angle-down"></i>
            </button>
        </div>
        <div class="cartBtn">
            <button class="add-cart button">add to cart</button>
            <a href="#" class="icon-button">
                <i class="icon-diamond"></i>
            </a>
            <a href="#" class="icon-button">
                <i class="ti-heart"></i>
            </a>
        </div>
    </div>
</section>
<section class="product-description-section">
    <ul class="tab-links" role="tablist">
        <li class="presentation">
            <a role="tab" href="#" aria-selected="false" class="nav-link">description</a>
        </li>
        <li class="presentation">
            <a role="tab" href="#" aria-selected="false" class="nav-link">specification</a>
        </li>
        <li class="presentation">
            <a role="tab" href="#" aria-selected="false" class="nav-link">comments</a>
        </li>
        <li class="presentation">
            <a role="tab" href="#" aria-selected="true" class="nav-link tab-active">reviews</a>
        </li>
    </ul>
    <div class="tab-content">
        <section class="panel" role="tabpanel" aria-hidden="true" aria-labelledby="tab1">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae qui voluptatum illo eum corporis labore minus velit eveniet sit itaque dolorum, ipsam possimus quod blanditiis architecto aperiam ea optio praesentium.
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit quia deleniti nisi laborum, aliquid culpa vero et molestiae cum hic expedita commodi quas sit iusto nemo aperiam amet! Ipsa, tempore?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni accusamus atque aspernatur dignissimos et quisquam omnis amet eius praesentium. Deserunt quaerat molestiae in eveniet hic, asperiores fuga quasi sequi veritatis!
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae culpa ut maiores dolores quod illum. Architecto nisi porro, rerum ab molestias nesciunt earum id illo odio error, eos quo. Odit!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium autem itaque, nulla omnis consectetur quibusdam. Id soluta deserunt a laborum repellendus quod accusantium rerum! Sequi dolorem adipisci iusto asperiores totam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Id saepe inventore facere nobis voluptatum quam consectetur molestias veniam sint, blanditiis nisi quasi illum ex ut laborum nostrum nam, debitis doloribus?
            </p>
        </section>
        <section class="panel" role="tabpanel" aria-hidden="true" aria-labelledby="tab2">
            <div class="responsive-table">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><p>lorem</p></td>
                            <td><p>ipsum</p></td>
                        </tr>
                        <tr>
                            <td><p>lorem</p></td>
                            <td><p>ipsum</p></td>
                        </tr>
                        <tr>
                            <td><p>lorem</p></td>
                            <td><p>ipsum</p></td>
                        </tr>
                        <tr>
                            <td><p>lorem</p></td>
                            <td><p>ipsum</p></td>
                        </tr>
                        <tr>
                            <td><p>lorem</p></td>
                            <td><p>ipsum</p></td>
                        </tr>
                        <tr>
                            <td><p>lorem</p></td>
                            <td><p>ipsum</p></td>
                        </tr>
                        <tr>
                            <td><p>lorem</p></td>
                            <td><p>ipsum</p></td>
                        </tr>
                        <tr>
                            <td><p>lorem</p></td>
                            <td><p>ipsum</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
        <section class="panel" role="tabpanel" aria-hidden="true" aria-labelledby="tab3">
            <div class="comment-section">
            <div class="comments">
                <div class="comment">
                    <span class="face">
                        <img src="img/product/single-product/review-1.png" alt="user face">
                    </span>
                    <div class="comment-heading">
                        <h4 class="comment-user">blake ruiz</h4>
                        <span class="date">Feb 23, 2017 at 05:56pm</span>
                        <button class="reply">reply</button>
                    </div>
                    <p class="comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi dolorum voluptatibus earum architecto porro odit cupiditate obcaecati ut, iste vel, ab, voluptates excepturi reprehenderit modi. Ducimus qui officia harum quos?</p>
                </div>
                <div class="comment comment-reply">
                    <span class="face">
                        <img src="img/product/single-product/review-2.png" alt="user face">
                    </span>
                    <div class="comment-heading">
                        <h4 class="comment-user">blake ruiz</h4>
                        <span class="date">Feb 23, 2017 at 05:56pm</span>
                        <button class="reply">reply</button>
                    </div>
                    <p class="comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi dolorum voluptatibus earum architecto porro odit cupiditate obcaecati ut, iste vel, ab, voluptates excepturi reprehenderit modi. Ducimus qui officia harum quos?</p>
                </div>
                <div class="comment">
                    <span class="face">
                        <img src="img/product/single-product/review-3.png" alt="user face">
                    </span>
                    <div class="comment-heading">
                        <h4 class="comment-user">blake ruiz</h4>
                        <span class="date">Feb 23, 2017 at 05:56pm</span>
                        <button class="reply">reply</button>
                    </div>
                    <p class="comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi dolorum voluptatibus earum architecto porro odit cupiditate obcaecati ut, iste vel, ab, voluptates excepturi reprehenderit modi. Ducimus qui officia harum quos?</p>
                </div>
            </div>
            <div class="post-comment">
                <h2 class="post-heading">post a comment</h2>
                <form action="">
                    <input type="text" name="" placeholder="Your Full name" class="form-field">
                    <input type="email" name="" placeholder="Email Address" class="form-field">
                    <input type="tel" name="" placeholder="Phone Number" class="form-field">
                    <input type="text" name="" placeholder="Message" class="form-field">
                    <button class="form-btn">sumbit now</button>
                </form>
            </div>
            </div>
        </section>
        <section class="panel panel-active" role="tabpanel" aria-hidden="false" aria-labelledby="tab4">
            <div class="review-section">
            <div class="reviews">
                <div class="score">
                    <div class="overall">
                        <p class="score-heading">overall</p>
                        <h3 class="score-number">4.0</h3>
                        <p>(03 reviews)</p>
                    </div>
                    <div class="review-amount">
                        <h3>based on 3 reviews</h3>
                        <ul class="star-list">
                            <li><a href="#">
                                5 Stars
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                            </a></li>
                            <li><a href="#">
                                4 Stars
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                            </a></li>
                            <li><a href="#">
                                3 Stars
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                            </a></li>
                            <li><a href="#">
                                2 Stars
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                            </a></li>
                            <li><a href="#">
                                1 Star 
                                <i class="icon-star star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                                <i class="icon-star"></i>
                            </a></li>
                        </ul>
                    </div>
                </div>
                <div class="review-list">

                <div class="comment">
                    <span class="face">
                        <img src="img/product/single-product/review-1.png" alt="user face">
                    </span>
                    <div class="comment-heading">
                        <h4 class="comment-user">blake ruiz</h4>
                        <ul class="rating-choice">
                            <li><a href="#">
                            <i class="icon-star"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="icon-star"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="icon-star"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="icon-star"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="icon-star"></i>
                            </a></li>
                        </ul>
                    </div>
                    <p class="comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi dolorum voluptatibus earum architecto porro odit cupiditate obcaecati ut, iste vel, ab, voluptates excepturi reprehenderit modi. Ducimus qui officia harum quos?</p>
                </div>
                <div class="comment">
                    <span class="face">
                        <img src="img/product/single-product/review-2.png" alt="user face">
                    </span>
                    <div class="comment-heading">
                        <h4 class="comment-user">blake ruiz</h4>
                        <ul class="rating-choice">
                            <li><a href="#">
                            <i class="icon-star"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="icon-star"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="icon-star"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="icon-star"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="icon-star"></i>
                            </a></li>
                        </ul>
                    </div>
                    <p class="comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi dolorum voluptatibus earum architecto porro odit cupiditate obcaecati ut, iste vel, ab, voluptates excepturi reprehenderit modi. Ducimus qui officia harum quos?</p>
                </div>
                <div class="comment">
                    <span class="face">
                        <img src="img/product/single-product/review-3.png" alt="user face">
                    </span>
                    <div class="comment-heading">
                        <h4 class="comment-user">blake ruiz</h4>
                        <ul class="rating-choice">
                            <li><a href="#">
                            <i class="icon-star"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="icon-star"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="icon-star"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="icon-star"></i>
                            </a></li>
                            <li><a href="#">
                                <i class="icon-star"></i>
                            </a></li>
                        </ul>
                    </div>
                    <p class="comment">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi dolorum voluptatibus earum architecto porro odit cupiditate obcaecati ut, iste vel, ab, voluptates excepturi reprehenderit modi. Ducimus qui officia harum quos?</p>
                </div>
            </div>
            </div>
            <div class="add-review">
                <h2 class="post-heading">add a review</h2>
                <p class="rating">your rating:</p>
                <ul class="rating-choice">
                    <li><a href="#">
                        <i class="icon-star"></i>
                    </a></li>
                    <li><a href="#">
                        <i class="icon-star"></i>
                    </a></li>
                    <li><a href="#">
                        <i class="icon-star"></i>
                    </a></li>
                    <li><a href="#">
                        <i class="icon-star"></i>
                    </a></li>
                    <li><a href="#">
                        <i class="icon-star"></i>
                    </a></li>
                </ul>
                <form action="">
                    <input type="text" name="" placeholder="Your Full name" class="form-field">
                    <input type="email" name="" placeholder="Email Address" class="form-field">
                    <input type="tel" name="" placeholder="Phone Number" class="form-field">
                    <input type="text" name="" placeholder="Review" class="form-field">
                    <button class="form-btn">sumbit now</button>
                </form>

            </div>
            </div>
    </section>
</section>
{{> footer slide=true}}