{{> header tracking=activeNav.tracking}}
 <section class="top-banner">
    <div class="top-heading-group">
        <h1 class="top-banner-heading">order tracking</h1>
        <p class="top-banner-paragraph ">Lorem ipsum dolor sit amet, consectetur</p>
    </div>
    <div class="page-link">
        <a href="#">home</a>
        <a href="#">order tracking</a>
    </div>
    </section>

    <section class="tracking">
        <p>To track your order please enter your Order ID in the box below and press the "Track" button. This was given to you on your receipt and in the confirmation email you should have received.</p>
        <form action="#" class="order-form">
            <input placeholder="Order ID" type="text" name="" id="">
            <input placeholder="Billing email address" type="email" name="" id="">
            <button class="button">track order</button>
        </form>
    </section>
{{> footer}}